<html>
  <head>
      <title>{{title}}</title>
      <link rel="stylesheet" href="/chota.min.css">
      <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
        {{> nav}}
        <section id="main">
            {{> page}}
        </section>
    </div>
    <script src="/jquery-3.6.0.min.js"></script>
  </body>
</html>