 <nav class="nav">
    <div class="nav-left">
        <a class="brand" href="#">MTL Multisig</a>
        <div class="tabs">
            <a href="/create" {{#if menu_create_tx}}class="active"{{/if}}>New transaction</a>
            <a href="/view" {{#if menu_view_tx}}class="active"{{/if}}>View transaction</a>
        </div>
    </div>
</nav>