.tx-error {
    color:darkred;
    font-weight: bold;
}

.tx-body {
    font-family: monospace;
    overflow-wrap: anywhere;
}

.control-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-notice {
    margin-top: 10px;
    color: darkred;
}

.response-error {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
}

.signer {
    width: 100%;
}

.singers {
    margin-bottom: 15px;
}

.signer-key {
    font-family: monospace;
}

.singer-signed {
    font-weight: bold;
    color:forestgreen;
}